*.mode1v3
*.pbxuser
*.perspectivev3
*.xcuserstate
*.mergesave
*.bak
.~*
.DS_Store
xcuserdata
Thumbs.db
build
Build
Generated
GeneratedAssets
InfoPlist_Prefix.h
test-reports
!contents.xcworkspacedata
.svn
BuildScripts/Provisioning-Profiles
.BridgeSort
.virtualenv
.venv
.env
.pyc